.login_container {
    background-color: rgb(3, 51, 73);
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url("https://img.wallpapersafari.com/desktop/1920/1080/63/1/qHgtSL.jpg");
  }
  
  .login_card {
    background-color: white;
    width: 200px;
    height: 250px;
    padding-top: 12px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
  }
  
  .sign_in_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .sign_in_container > button {
    padding: 10px;
    margin-bottom: 24px;
    border: none;
    border-radius: 40px;
    background-color: rgb(245, 132, 31);
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  
  .error {
    color: red;
    text-align: center;
    font-size: 11px;
    font-style: italic;
    margin-bottom: 24px;
  }